body {
  background-color:#FFFCF7;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-size:64px;
  font-weight:normal;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-size:20px;
  font-weight:normal;
}
h3 {
  font-family: 'Poppins', sans-serif;
  font-size:40px;
  font-weight:normal;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size:32px;
  font-weight:normal;
}

h5{
  font-family: 'Poppins', sans-serif;
  font-size:16px;
  font-weight:bolder;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size:16px;
  font-weight:normal;
}

p1 {font-family: 'poppins', sans-serif;
  font-weight: bold;
  font-size:20px;
}

p2 {
  font-family: 'Poppins', sans-serif;
  font-size:14px;
  font-weight:normal;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 100px 1fr 1fr 1fr 1fr 1fr;
  background-color: #FFFCF7;
  padding-top: 60px;
  border-bottom: 1px solid black;
}

.nav-item {
  background-color: #FFFCF7 (255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.logo {
 background-color: #FFFCF7(255, 255, 255, 0.8);
  margin-top: -20px;
  padding-bottom: 20 px;
  font-size: 30px;
  text-align: center;
}

.vl {
  margin-top: -70px;
  padding:0 px;
  height: 150px;
  border-left: 1px solid black;}

.header-container {
  display: grid;
  grid-template-columns: 1fr 100px 1fr 1fr 1fr 1fr 1fr;
  background-color: #FFFCF7;
  padding-top: 10px;
}

.header-container ul {
  display: inline-block;
  list-style-type: none;
}

#borderbottom {
  border-bottom: 1px solid black; 
  grid-column-start: 2;
  grid-column-end: 7;
}

.vl-2 {
  margin-top: -10px;
  height: 220px;
  border-left: 1px solid black;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 100px 1fr 1fr 1fr 1fr 1fr;
  background-color: #FFFCF7;
  padding-top: 10px;
}
.projects-header {
  grid-column-start:3;
  margin-left: -36px;
}

.year-header {
  grid-column-start:6;
  grid-row-start: 1;
}
.nubudget-container {
  display: grid;
  grid-template-columns: 1fr 100px 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #FFFCF7;
  padding-top: 10px;}

.vl-3 {
  margin-top: -10px;
  height: 460px;
  border-left: 1px solid black;
  grid-column-start: 2;
  grid-column-end: span col4-start;
  grid-row-start: 1;
  grid-row-end: span 3;}

.research-link {
  grid-column-start: 3;
  grid-column-end: span col4-start;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.nubudgetlogo{
  grid-column-start: 4;
  grid-column-end: span col4-start;
  grid-row-start: 1;
  margin-top: 42px;
  grid-row-end: span 3;
}

.nubudget-title {
  grid-column-start: 3;
  grid-column-end: span col4-start;
  grid-row-start: 2;
  margin-top:-30px;
  grid-row-end: span 3;
}

.creation-yearnb {
  grid-column-start: 3;
  grid-column-end: span col4-start;
  grid-row-start: 3;
  grid-row-end: span 3;
  margin-top:50px;
}

.view-projectnb {
  grid-column-start: 6;
  grid-column-end: span col4-start;
  grid-row-start: 3;
  margin-top:50px;
}

.winebuds-container {
  display: grid;
  grid-template-columns: 1fr 100px 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #FFFCF7;
  padding-top: 10px;
}

.vl-4 {
  margin-top: -10px;
  height: 460px;
  border-left: 1px solid black;
  grid-column-start: 2;
  grid-column-end: span col4-start;
  grid-row-start: 1;
  grid-row-end: span 3;}

.research-link {
  grid-column-start: 3;
  grid-column-end: span col4-start;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.winebudslogo{
  grid-column-start: 4;
  grid-column-end: span col4-start;
  grid-row-start: 1;
  margin-top: 42px;
  grid-row-end: span 3;
}

.winebuds-title {
  grid-column-start: 3;
  grid-column-end: span col4-start;
  grid-row-start: 2;
  margin-top:-30px;
  grid-row-end: span 3;
}

.creation-yearwb {
  grid-column-start: 3;
  grid-column-end: span col4-start;
  grid-row-start: 3;
  grid-row-end: span 3;
  margin-top:50px;
}

.view-projectwb {
  grid-column-start: 6;
  grid-column-end: span col4-start;
  grid-row-start: 3;
  margin-top:50px;
}

.doe-container {
  display: grid;
  grid-template-columns: 1fr 100px 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #FFFCF7;
  padding-top: 10px;}

.vl-5 {
  margin-top: -10px;
  height: 460px;
  border-left: 1px solid black;
  grid-column-start: 2;
  grid-column-end: span col4-start;
  grid-row-start: 1;
  grid-row-end: span 3;}

.research-link {
  grid-column-start: 3;
  grid-column-end: span col4-start;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.doelogo{
  grid-column-start: 4;
  grid-column-end: span col4-start;
  grid-row-start: 1;
  margin-top: 42px;
  grid-row-end: span 3;
}

.doe-title {
  grid-column-start: 3;
  grid-column-end: span col4-start;
  grid-row-start: 2;
  margin-top:-30px;
  grid-row-end: span 3;
}

.creation-yeardoe {
  grid-column-start: 3;
  grid-column-end: span col4-start;
  grid-row-start: 3;
  grid-row-end: span 3;
  margin-top:50px;
}

.view-projectdoe {
  grid-column-start: 6;
  grid-column-end: span col4-start;
  grid-row-start: 3;
  margin-top:50px;
}

.woodlawn-container {
  display: grid;
  grid-template-columns: 1fr 100px 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #FFFCF7;
  padding-top: 10px;}

.vl-6 {
  margin-top: -10px;
  height: 460px;
  border-left: 1px solid black;
  grid-column-start: 2;
  grid-column-end: span col4-start;
  grid-row-start: 1;
  grid-row-end: span 3;}

.research-link {
  grid-column-start: 3;
  grid-column-end: span col4-start;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.woodlawnlogo{
  grid-column-start: 4;
  grid-column-end: span col4-start;
  grid-row-start: 1;
  margin-top: 42px;
  grid-row-end: span 3;
}

.woodlawn-title {
  grid-column-start: 3;
  grid-column-end: span col4-start;
  grid-row-start: 2;
  margin-top:-30px;
  grid-row-end: span 3;
}

.creation-yearwl {
  grid-column-start: 3;
  grid-column-end: span col4-start;
  grid-row-start: 3;
  grid-row-end: span 3;
  margin-top:50px;
}

.view-projectwl {
  grid-column-start: 6;
  grid-column-end: span col4-start;
  grid-row-start: 3;
  margin-top:50px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 100px 1fr 1fr 1fr 1fr 1fr;
  background-color: #FFFCF7;
  padding-top: 60px;
}

.vl-7 {
  margin-top: -10px;
  height: 460px;
  border-left: 1px solid black;
  grid-column-start: 7;
  grid-column-end: span col4-start;
  grid-row-start: 1;
  grid-row-end: span 3;}

.vl-8 {
  margin-top: -70px;
  padding:0 px;
  height: 150px;
  border-left: 1px solid black;
  grid-column-start: 7;
  grid-column-end: span col4-start;
  grid-row-start: 1;
  grid-row-end: span 3;}

.vl-9 {
margin-top: -10px;
height: 220px;
border-left: 1px solid black;}

.about-container {
  display: grid;
  grid-template-columns:1fr 100px 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #FFFCF7;
}

.italy {
  grid-column-start: 3;
  grid-column-end: span 4;
  grid-row-start: 2;
}

.vl-0 {
  margin-top: 0px;
  border-left: 1px solid black;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: span 3;
}

#borderbottoma {
  border-bottom: 1px solid black; 
  grid-column-start: 2;
  grid-column-end: 7;
}

.vl-11 {
  margin-top: 0px;
  border-left: 1px solid black;
  grid-column-start: 7;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.about-title {
  grid-column-start: 5;
  grid-row-start: 2;
  margin-top: -50px;
  margin-left: -200px;
}

.about-exp {
  grid-column-start: 5;
  grid-row-start: 3;
  margin-top: -185px;
  margin-left: -200px;
}

.skills-container {
  display: grid;
  grid-template-columns:1fr 100px 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 100px 400px;
  background-color: #FFFCF7;
}

#borderbottomb {
  border-bottom: 1px solid black; 
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
}

.skills-title {
  grid-column-start: 3;
  grid-row-start: 1;
  margin-top: 0px;
  margin-left: 0px;
}
.tools-text {
  grid-column-start: 3;
  grid-row-start: 2;
  margin-top: 20px;
  margin-left: 0px;
}

.vl-12 {
  margin-top: 0px;
  border-left: 1px solid black;
  grid-column-start: 5;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.imguser {
  grid-column-start: 5;
  grid-row-start: 2;
  margin-top: -40px;
  margin-left: 50px;
}

.user-centered-design {
  grid-column-start: 5;
  grid-row-start: 3;
  margin-top: 60px;
  margin-left: 50px;
}

.user-exp {
  grid-column-start: 5;
  grid-row-start: 3;
  margin-top: 120px;
  margin-left: 50px;
}

.imgwire {
  grid-column-start: 6;
  grid-row-start: 2;
  margin-top: -40px;
  margin-left: -60px;
}

.wireframing {
  grid-column-start: 6;
  grid-row-start: 3;
  margin-top: 60px;
  margin-left: -60px;
}

.wire-exp {
  grid-column-start: 6;
  grid-row-start: 3;
  margin-top: 100px;
  margin-left: -60px;
}

.imgstory {
  grid-column-start: 7;
  grid-row-start: 2;
  margin-top: -40px;
  margin-left: -175px;
}

.storyboarding {
  grid-column-start: 7;
  grid-row-start: 3;
  margin-top: 60px;
  margin-left: -175px;
}

.story-exp {
  grid-column-start: 7;
  grid-row-start: 3;
  margin-top: 100px;
  margin-left: -175px;
}

.logo-design-container {
  display: grid;
  grid-template-columns:1fr 100px 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 300px 10px 300px 1fr;
  background-color: #FFFCF7;
}

.logo-design{
  grid-column-start: 5;
  grid-row-start: 2;
  grid-column-end:span 6;
  margin-left: 50px;
}

.group1 {
  grid-column-start: 3;
  grid-row-start: 2;
}

.address-1{
  grid-column-start: 3;
  grid-row-start: 3;
  margin-top: -30px;

}

.group4{
    grid-column-start: 3;
    grid-row-start: 4;
}

.address-3{
  grid-column-start: 3;
  grid-row-start: 5;
  margin-top: -35px;

}

.group3 {
  grid-column-start: 4;
  grid-row-start: 2;
}

.address-2{
  grid-column-start: 4;
  grid-row-start: 3;
  margin-top: -30px;

}

.group5{
    grid-column-start: 4;
    grid-row-start: 4;
}

.address-4{
  grid-column-start: 4;
  grid-row-start: 5;
  margin-top: -35px;

}

.logo-exp{
  grid-column-start: 5;
  grid-column-end: span 6;
    grid-row-start: 2;
    margin-left: 50px;
    margin-top: 120px;
}

.vl-13 {
  margin-top: 0px;
  border-left: 1px solid black;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: span 5;
}

.vl-14 {
  margin-top: 0px;
  border-left: 1px solid black;
  grid-column-start: 7;
  grid-row-start: 1;
  grid-row-end: span 5;
}


@media screen and (max-width: 600px) {
  .nav-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 70px;
      background-color: #FFFCF7;
      padding-top: 60px;
      border-bottom: none;
    }
  .logo {
      background-color: #FFFCF7(255, 255, 255, 0.8);
       grid-column-start: 4;
       grid-row-start:1;
     }
  .title2 {
    display: none;
  }
  .vl {
    display: none;
  }

  .vl-8 {
    display: none;
  }
  .about-container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 300 px 300px 500px;
    background-color: #FFFCF7;
  }
  .about-title {
    grid-column-start: 2;
    grid-row-start: 1;
    margin-top: 0px;
    margin-left: 40px;
  }

  .about-exp {
  grid-column-start: 2;
  grid-column-end: span 6;
  grid-row-start: 4;
  margin-left: 40px;
  }

  .italy {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: -40px;
    margin-left: 40px;
  }
  .vl-0 {
  display:none;}

  .vl-11 {
  display:none;}

  #borderbottoma {
  display:none;
}

  .skills-container {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 150px 250px 250px 250px 500px;
  background-color: #FFFCF7;
}

.skills-title {
  grid-column-start: 2;
  grid-row-start: 1;
  margin-top: 0px;
  margin-left: 90px;
}

#borderbottomb {
  display:none;
}

.vl-12 {
  display:none;}

.imguser {
  grid-column-start: 2;
  grid-row-start: 2;
  margin-top: 0px;
  margin-left: 90px;
}

.user-centered-design {
  grid-column-start: 3;
  grid-row-start: 2;
  margin-top: -20px;
  margin-left: 20px;
}
.user-exp {
  grid-column-start: 3;
  grid-row-start: 2;
  margin-top: 60px;
  margin-left: 20px;
}

.imgwire {
  grid-column-start: 2;
  grid-row-start: 3;
  margin-top: 0px;
  margin-left: 90px;
}

.wireframing {
  grid-column-start: 3;
  grid-row-start: 3;
  margin-top: -20px;
  margin-left: 20px;
}

.wire-exp {
  grid-column-start: 3;
  grid-row-start: 3;
  margin-top: 60px;
  margin-left: 20px;
}

.imgstory {
  grid-column-start: 2;
  grid-row-start: 4;
  margin-top: 0px;
  margin-left: 90px;
}

.storyboarding {
  grid-column-start: 3;
  grid-row-start: 4;
  margin-top: -20px;
  margin-left: 20px;
}

.story-exp {
  grid-column-start: 3;
  grid-row-start: 4;
  margin-top: 60px;
  margin-left: 20px;
}

.tools-text {
  grid-column-start: 2;
  grid-column-end: span  4;
  grid-row-start: 5;
  margin-top: 20px;
  margin-left: 90px;
}

.logo-design-container {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 150px 300px 10px 300px 10px 300px 10px 300px 10px 300px;
  background-color: #FFFCF7;
}

.logo-design{
  grid-column-start: 2;
  grid-row-start: 1;
  grid-column-end:span 6;
  margin-left: 90px;
}

.group1 {
  grid-column-start: 2;
  grid-row-start: 2;
  margin-left: 90px;
}

.address-1{
  grid-column-start: 2;
  grid-row-start: 3;
  margin-left: 90px;

}
.group3 {
  grid-column-start: 2;
  grid-row-start: 4;
  margin-left: 90px;
}

.address-2{
  grid-column-start: 2;
  grid-row-start: 5;
  margin-left: 90px;

}

.group4{
    grid-column-start: 2;
    grid-row-start: 6;
    margin-left: 90px;
}

.address-3{
  grid-column-start: 2;
  grid-row-start: 7;
  margin-left: 90px;

}


.group5{
    grid-column-start: 2;
    grid-row-start: 8;
    margin-left: 90px;
}

.address-4{
  grid-column-start: 2;
  grid-row-start: 9;
  margin-left: 90px;

}

.logo-exp{
  grid-column-start: 2;
  grid-column-end: span 4;
    grid-row-start: 10;
    margin-left: 90px;
    margin-top: 0px;
}

.vl-13 {
  display: none;
}

.vl-14 {
  display: none;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #FFFCF7;
  padding-top: 60px;
}

#borderbottom {
  display:none;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #FFFCF7;
  padding-top: 10px;
}

.projects-header {
  grid-column-start:2;
  grid-column-end: span 5;
  grid-row-start: 1;
}

.year-header {
  grid-column-start:2;
  grid-column-end: span 5;
  grid-row-start: 2;
}

.nubudget-container {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 20px 60px 350px;
  background-color: #FFFCF7;
  padding-top: 10px;}

.vl-3 {
  display:none;}

.research-link {
  grid-column-start:2;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.nubudgetlogo{
  grid-column-start: 2;
  grid-column-end: span col4-start;
  grid-row-start: 3;
  margin-top: 42px;
  grid-row-end: span 3;
}

.nubudget-title {
  grid-column-start: 2;
  grid-column-end: span col4-start;
  grid-row-start: 2;
  margin-top:0px;
  grid-row-end: span 3;
}

.creation-yearnb {
  display:none;
}
.view-projectnb {
  display: none;
}
.winebuds-container {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 20px 60px 350px;
  background-color: #FFFCF7;
  padding-top: 10px;}

.vl-4 {
  display:none;}

.winebudslogo{
  grid-column-start: 2;
  grid-column-end: span col4-start;
  grid-row-start: 3;
  margin-top: 42px;
  grid-row-end: span 3;
}

.winebuds-title {
  grid-column-start: 2;
  grid-column-end: span col4-start;
  grid-row-start: 2;
  margin-top:0px;
  grid-row-end: span 3;
}

.creation-yearwb {
  display:none;
}

.view-projectwb {
  display: none;
}

.doe-container {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 20px 60px 350px;
  background-color: #FFFCF7;
  padding-top: 10px;}

.vl-5 {
  display:none;}

.vl-2 {
    display:none;}

.doelogo{
  grid-column-start: 2;
  grid-column-end: span col4-start;
  grid-row-start: 3;
  margin-top: 42px;
  grid-row-end: span 3;
}

.doe-title {
  grid-column-start: 2;
  grid-column-end: span col4-start;
  grid-row-start: 2;
  margin-top:0px;
  grid-row-end: span 3;
}

.creation-yeardoe {
  display:none;
}

.view-projectdoe {
  display: none;
}

.woodlawn-container {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 20px 60px 350px;
  background-color: #FFFCF7;
  padding-top: 10px;}

.vl-6 {
  display:none;}

.vl-7 {
    display:none;}
.vl-9 {
      display:none;}

.woodlawnlogo{
  grid-column-start: 2;
  grid-column-end: span col4-start;
  grid-row-start: 3;
  margin-top: 42px;
  grid-row-end: span 3;
}

.woodlawn-title {
  grid-column-start: 2;
  grid-column-end: span col4-start;
  grid-row-start: 2;
  margin-top:0px;
  grid-row-end: span 3;
}

.creation-yearwl {
  display:none;
}

.view-projectwl {
  display: none;
}

.header-container ul {
  display: none;
}

}