@media only screen and (max-width: 600px) {
    nav-container {
        display: grid;
        grid-template-columns: 100px 100px 100px 100px;
        background-color: #FFFCF7;
        padding-top: 60px;
        border-bottom: 1px solid black;
        grid-template-areas:
        "logo"
      }
   
    about-container {
      display: grid;
      grid-template-columns:1fr 1fr 1fr;
      grid-template-rows: 300px 300px 300px;
      background-color: #FFFCF7;
      grid-template-areas: 
      "sidebar"
      "italy"
      "about-title"
      ;
    }
  
  vl-0 {
    display:none;
  }
  
    }