h1, h2, h3 , h4, h5, h6 {
    font-family: 'poppins', sans-serif;
  }

  body { background: #FFFCF7 !important; }

  h4{
    font-size: 14px;
    font-weight: bold;
  }

  .btn-link{
    color: white !important;
  }



  p {
    font-family: 'poppins', sans-serif;
    font-size: 14px;
  }
  
  .WJA {
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
  }

.customNav {
  width: 100%;
    white-space: nowrap;
    position: fixed;
    background-color: #FFFCF7 !important;
    z-index: 10;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    align-items: center;
  }
  
  .navbar-nav {
    margin-left: 0px !important;
    margin-right: auto;
  }
  .navbar-brand img {
    padding-left: 65px;
    height: 100%
    width: 65px;
  }
  .nav-item {
    justify-content: center;
    margin-top: 55px;
    margin-left: 55px;
    font-size: 20px;
  }
  
  
  /* Navigation links */
  .customNav a {
    color: black !important;
    font-family: 'poppins', sans-serif;
  }
  .navCTA {
    font-size: 15px;
  }

  .customNav2 a {
    color: black !important;
    font-family: 'poppins', sans-serif;}

  .navCTA {
    font-size: 15px;
  }

.jumbotron {
  background-color: #FFFCF7;
}

  .jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
  }

  .jumbotron logohero {
    color:#345C72;
    background-image: url("images/winebuds_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }


  .winebuds_logo{
    height: auto;
    border:0 none;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    justify-content: center;
    align-content: center;
    color:#345C72;
  }


  .names{
    justify-content: end;
    padding-right: 700px;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
  }

  .img moodboard{
    padding-right: 100px;
  }

  .proto{
    height:auto;
    border:0 none;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    }

  .moodboard{
    height:auto;
    border:0 none;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }

  .titleside{
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
  }
.midfi{
  height:auto;
    border:0 none;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    }
.card-header1{
  background-color: #D4EDF4 !important;
}

.card-header2{
  background-color: #FEA07E !important;
}

.card-header3{
  background-color: #345C72 !important;
}

.navbar-toggler collapsed{
  align-content: right;
}
